.inputField {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.inputField p {
    margin: 0;
    font-family: "Pretendard";
    color: #F6F4F0;
    font-size: 16px;
}

.inputField input {
    border-radius: 16px;
    width: 100%;
    padding: 10px;
    font-family: "Pretendard";
    font-size: 16px;
    box-sizing: border-box;
    border-color:  #4DA1A9;
}

.error {
    color: rgb(236, 59, 19);
    font-family: "Pretendard";
    font-size: 14px;
    margin: 0;
    height: 10px; /* 고정 높이로 공간 유지 */
    visibility: hidden; /* 기본적으로 숨김 */
}

.error.visible {
    visibility: visible; /* 에러 메시지가 나타나도록 변경 */
}

