.postFormBox {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.postFormContent {
    width: 500px;
}
.postFormContent input[type="text"], .postFormContent textarea{
    font-family: 'Pretendard';
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 16px;
}
.postFormContent textarea{
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="file"]{
    font-family: 'Pretendard';
}