.postFormBox {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.postFormContent {
    width: 500px;
    margin-bottom: 15px;
}
#submitBnt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postFormContent input[type="text"], .postFormContent textarea{
    font-family: 'Pretendard';
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #2E5077;
    border: 1px solid #4da1a9c3;
    border-radius: 16px;
}
.postFormContent textarea{
    border: 1px solid #4da1a9c3;
    resize: none; /* 크기 조정 비활성화 */
    box-sizing: border-box;
}
input[type="file"]{
    font-family: 'Pretendard';
}
.customFileButton{
    background: #4da1a9c3; 
    border-radius: 16px;
    width: 90px;
    height: 41px;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: #F6F4F0;
    font-family: 'Pretendard';
}
#deleteFile{
    background: #2e5077b1; 
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.labelBox{
    display: flex; 
    align-items: center;
    height: 45px;
}
.fileName{
    height: 40px;
    align-items: center;
    display: flex; 
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 16px;
    border: 1px solid #4da1a9c3;
    background-color: white;
}