/* Profile container */
.profileContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #BDBDBD;
    overflow: hidden;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.profileContainer2 p {
    width: 300px;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#fileInput{
    display: none;
}

#profileError {
    /* position: absolute; */
    width: 300px;
    margin-top: -10px;
    font-size: 14px;
}