.inputFields {
    margin-top: 280px;
    position: relative;
    width: 300px;
}
/* 로그인 버튼 스타일 */
.submitButton {
    position: relative;
    width: 150px;
    padding: 10px;
    font-size: 18px;
    background-color: #2E5077; /* 기본 색상 */
    border: none;
    color: #F6F4F0;
    cursor: pointer;
    margin-top: 25px;
    border-radius: 16px;
    transition: background-color 0.3s ease; /* 색상 변경 효과 */
}
/* 회원가입 버튼 */
.registButton {
    border-radius: 16px;
    width: 50%;
    padding: 10px;
    font-size: 18px;
    font-family: "Pretendard";
    font-weight: 700;
    color: #2E5077; 
    background-color: #F6F4F0; 
    border: 2px solid #2E5077; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* 효과 추가 */
    margin-top: 20px;
}
.registButton:hover {
    background-color: #2E5077;
    color: #F6F4F0
    ;
}
