.postsBox {
    display: block;
    align-items: center;
}
.postsHeaders {
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.postsHeader {
    border-bottom: 2px solid #4DA1A9;
    width: 700px;
    display: flex;
    justify-content: space-around;
}
main {
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}
.mainTxt {
    margin-top: 20px;
    height: 62px;
    display: inline-block;
    flex-direction: column; 
    text-align: center;
    justify-content: center;
}
#mainTxt {
    margin: 0%;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: center;
}

/* 작성 버튼 */
.postBtn {
    width: 120px;
    height: 39px;
    border-radius: 20px;
    background-color: #87bbbf;
    margin-right: 5px;
}
.postBtn:hover {
    background-color: #4DA1A9;

}
.postBtn p {
    color: #F6F4F0;
    margin-top: 10px;
}
.bnt {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 30px;
}

.postList {
    width: 550px;
    display: flex;
    flex-direction: column;
}



